---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

import ConfigCarrier from "@components/ConfigCarrier.astro";
import { profileConfig, siteConfig } from "@/config";
import {
	AUTO_MODE,
	BANNER_HEIGHT,
	BANNER_HEIGHT_EXTEND,
	BANNER_HEIGHT_HOME,
	DARK_MODE,
	DEFAULT_THEME,
	LIGHT_MODE,
	MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
	PAGE_WIDTH,
} from "../constants/constants";
import { defaultFavicons } from "../constants/icon";
import type { Favicon } from "../types/config";
import { pathsEqual, url } from "../utils/url-utils";
import "katex/dist/katex.css";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
}

let { title, banner, description, lang, setOGTypeArticle } = Astro.props;

// apply a class to the body element to decide the height of the banner, only used for initial page load
// Swup can update the body for each page visit, but it's after the page transition, causing a delay for banner height change
// so use Swup hooks instead to change the height immediately when a link is clicked
const isHomePage = pathsEqual(Astro.url.pathname, url("/"));

// defines global css variables
// why doing this in Layout instead of GlobalStyles: https://github.com/withastro/astro/issues/6728#issuecomment-1502203757
const configHue = siteConfig.themeColor.hue;
if (!banner || typeof banner !== "string" || banner.trim() === "") {
	banner = siteConfig.banner.src;
}

// TODO don't use post cover as banner for now
banner = siteConfig.banner.src;

const enableBanner = siteConfig.banner.enable;
const enableBanner2 = siteConfig.banner2.enable;
if (enableBanner && enableBanner2) {
	throw new Error("Only one banner can be enabled at a time");
}

let pageTitle: string;
if (title) {
	pageTitle = `${title} - ${siteConfig.title}`;
} else {
	pageTitle = `${siteConfig.title} - ${siteConfig.subtitle}`;
}

const favicons: Favicon[] =
	siteConfig.favicon.length > 0 ? siteConfig.favicon : defaultFavicons;

// const siteLang = siteConfig.lang.replace('_', '-')
if (!lang) {
	lang = `${siteConfig.lang}`;
}
const siteLang = lang.replace("_", "-");

const bannerOffsetByPosition = {
	top: `${BANNER_HEIGHT_EXTEND}vh`,
	center: `${BANNER_HEIGHT_EXTEND / 2}vh`,
	bottom: "0",
};
const bannerOffset =
	bannerOffsetByPosition[siteConfig.banner.position || "center"];

const mainPanelTop = siteConfig.banner.enable
	? `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`
	: "5.5rem";

const banner2Height = siteConfig.banner2.height;
const banner2HeightFix =
	typeof siteConfig.banner2.heightFix === "number"
		? siteConfig.banner2.heightFix
		: (siteConfig.banner2.waving.heightBottomMax - 100) / 2;
const banner2HeightM = siteConfig.banner2.mobileHeight || banner2Height;
const banner2HeightFixM =
	typeof siteConfig.banner2.mobileHeightFix === "number"
		? siteConfig.banner2.mobileHeightFix
		: banner2HeightM;

const banner2HeightNH = siteConfig.banner2.waving.nonHome.height;
const banner2HeightNM = siteConfig.banner2.mobileWaving.nonHome.height;

const banner2HeightNHFix =
	typeof siteConfig.banner2.waving.nonHome.heightFix === "number"
		? siteConfig.banner2.waving.nonHome.heightFix
		: (siteConfig.banner2.waving.heightBottomMax - 100) / 2;
const banner2HeightNMFix =
	typeof siteConfig.banner2.mobileWaving.nonHome.heightFix === "number"
		? siteConfig.banner2.mobileWaving.nonHome.heightFix
		: (siteConfig.banner2.mobileWaving.heightBottomMax ||
				siteConfig.banner2.waving.heightBottomMax - 100) / 2;
---

<!DOCTYPE html>
<html lang={siteLang} class="bg-[var(--page-bg)] transition text-[14px] md:text-[16px]">
	<head>

		<title>{pageTitle}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description || pageTitle}>
		<meta name="author" content={profileConfig.name}>

		<meta property="og:site_name" content={siteConfig.title}>
		<meta property="og:url" content={Astro.url}>
		<meta property="og:title" content={pageTitle}>
		<meta property="og:description" content={description || pageTitle}>
		{setOGTypeArticle ? (
        <meta property="og:type" content="article" />
        ) : (
        <meta property="og:type" content="website" />
        )}

		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={Astro.url}>
		<meta name="twitter:title" content={pageTitle}>
		<meta name="twitter:description" content={description || pageTitle}>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{favicons.map(favicon => (
			<link rel="icon"
				  href={favicon.src.startsWith('/') ? url(favicon.src) : favicon.src}
				  sizes={favicon.sizes}
				  media={favicon.theme && `(prefers-color-scheme: ${favicon.theme})`}
			/>
		))}

		<!-- Set the theme before the page is rendered to avoid a flash -->
		<script is:inline define:vars={{DEFAULT_THEME, LIGHT_MODE, DARK_MODE, AUTO_MODE, BANNER_HEIGHT_EXTEND, PAGE_WIDTH, configHue}}>
			// Load the theme from local storage
			const theme = localStorage.getItem('theme') || DEFAULT_THEME;
			switch (theme) {
				case LIGHT_MODE:
					document.documentElement.classList.remove('dark');
					break
				case DARK_MODE:
					document.documentElement.classList.add('dark');
					break
				case AUTO_MODE:
					if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
						document.documentElement.classList.add('dark');
					} else {
						document.documentElement.classList.remove('dark');
					}
			}

			// Load the hue from local storage
			const hue = localStorage.getItem('hue') || configHue;
			document.documentElement.style.setProperty('--hue', hue);

			// calculate the --banner-height-extend, which needs to be a multiple of 4 to avoid blurry text
			let offset = Math.floor(window.innerHeight * (BANNER_HEIGHT_EXTEND / 100));
			offset = offset - offset % 4;
			document.documentElement.style.setProperty('--banner-height-extend', `${offset}px`);
		</script>
		{ siteConfig.count.umamiCloud.enabled &&  
			<div set:html={siteConfig.count.umamiCloud.htmltag}></div>
		}
		<style define:vars={{
			configHue,
			'page-width': `${PAGE_WIDTH}rem`,
		}}></style>  <!-- defines global css variables. This will be applied to <html> <body> and some other elements idk why -->


		<slot name="head"></slot>

		<link rel="alternate" type="application/rss+xml" title={profileConfig.name} href={`${Astro.site}rss.xml`}/>

	</head>
	<body class=" min-h-screen transition " class:list={[{
		"is-home": isHomePage, 
		"enable-banner": enableBanner, 
		"enable-banner2": enableBanner2,
		"enable-b2nh": siteConfig.banner2.waving.nonHome.enable,
		"enable-b2nm": siteConfig.banner2.mobileWaving.nonHome.enable,
		"bg-fixed": enableBanner2}]}
	>
		<ConfigCarrier></ConfigCarrier>
		<slot />

		<!-- increase the page height during page transition to prevent the scrolling animation from jumping -->
		<div id="page-height-extend" class="hidden h-[300vh]"></div>
	</body>
</html>

<style is:global define:vars={{
	bannerOffset,
	'banner-height-home': `${BANNER_HEIGHT_HOME}vh`,
	'banner-height': `${BANNER_HEIGHT}vh`,
	
	'banner2-height-home-desktop': `${banner2Height}vh`,
	'banner2-content-height-home-desktop': `${banner2Height + banner2HeightFix}vh`,
	'banner2-height-nonhome-desktop': `${banner2HeightNH}vh`,
	'banner2-content-height-nonhome-desktop': `${banner2HeightNH + banner2HeightNHFix}vh`,
	'banner2-dbg': `url(${siteConfig.banner2.src.desktopBg})`,

	'banner2-height-home-mobile': `${banner2HeightM}vh`,
	'banner2-content-height-home-mobile': `${banner2HeightM + banner2HeightFixM}vh`,
	'banner2-height-nonhome-mobile': `${banner2HeightNM}vh`,
	'banner2-content-height-nonhome-mobile': `${banner2HeightNM + banner2HeightNMFix}vh`,
	'banner2-mbg': `url(${siteConfig.banner2.src.mobileBg})`,
	'main-panel-top': `${mainPanelTop}`,
}}>
:root {
	--top-row-height: calc(var(--banner-height-home) - 4.5rem);
}
body {
	/* background: repeating-linear-gradient(45deg, yellow 0, yellow 15px, gray 15px, gray 30px); */
    background: no-repeat center / cover;
}
@media (max-width: 768px) {
	body {
		background-image: var(--banner2-mbg);
	}
}
@media (min-width: 769px) {
	body {
		background-image: var(--banner2-dbg);
	}
}
@tailwind components;
@layer components {
	.enable-banner.is-home #banner-wrapper {
		@apply h-[var(--banner-height-home)] translate-y-[var(--banner-height-extend)]
	}
	.enable-banner #banner-wrapper {
		@apply h-[var(--banner-height-home)]
	}

	.enable-banner.is-home #banner {
		@apply h-[var(--banner-height-home)] translate-y-0
	}
	.enable-banner #banner {
		@apply h-[var(--banner-height-home)] translate-y-[var(--bannerOffset)]
	}
	.enable-banner.is-home #main-grid {
		@apply translate-y-[var(--banner-height-extend)];
	}
	.enable-banner #top-row {
		@apply h-[var(--top-row-height)] transition-all duration-300
	}
	.enable-banner.is-home #sidebar-sticky {
		@apply top-[calc(1rem_-_var(--banner-height-extend))]
	}
	.navbar-hidden {
		@apply opacity-0 -translate-y-16
	}
}
@layer components {
	/* 基本Banner2样式 */

	/* 非主页。只有这个case需要处理main-panel的translate */
	.enable-banner2 #banner2-container {
		opacity: 0;
		transition: opacity 0.3s ease;
		will-change: opacity;
	}

	/* 复杂的选择器是为了解决css特定性 */
	@media (min-width: 769px) {
		.enable-banner2.is-home #banner2-container, 
		.enable-banner2.enable-b2nh.is-home #banner2-container,
		.enable-banner2.enable-b2nm.is-home #banner2-container,
		.enable-banner2.enable-b2nh.enable-b2nm.is-home #banner2-container
		{
			height: var(--banner2-height-home-desktop);
		}
	}
	@media (max-width: 768px) {
		.enable-banner2.is-home #banner2-container, 
		.enable-banner2.enable-b2nh.is-home #banner2-container,
		.enable-banner2.enable-b2nm.is-home #banner2-container,
		.enable-banner2.enable-b2nh.enable-b2nm.is-home #banner2-container
		{
			height: var(--banner2-height-home-mobile);
		}
	}

	@media (min-width: 769px) {
		body.enable-banner2.is-home, 
		body.enable-banner2.enable-b2nh.is-home,
		body.enable-banner2.enable-b2nm.is-home,
		body.enable-banner2.enable-b2nh.enable-b2nm.is-home 
		{
			--main-content-translate-y: var(--banner2-content-height-home-desktop)
		}
	}
	@media (max-width: 768px) {
		body.enable-banner2.is-home, 
		body.enable-banner2.enable-b2nh.is-home,
		body.enable-banner2.enable-b2nm.is-home,
		body.enable-banner2.enable-b2nh.enable-b2nm.is-home 
		{
			--main-content-translate-y: var(--banner2-content-height-home-mobile)
		}
	}

	.enable-banner2 .main-content { 
		transform: translateY(var(--main-content-translate-y));
		transition: transform 0.3s ease-in-out;
		will-change: transform;
	}

	body.enable-banner2 {
		--main-content-translate-y: var(--main-panel-top)
	}
	
	@media (min-width: 769px) {
		body.enable-banner2.enable-b2nh {
			--main-content-translate-y: var(--banner2-content-height-nonhome-desktop)
		}
	}
	@media (max-width: 768px) {
		body.enable-banner2.enable-b2nm {
			--main-content-translate-y: var(--banner2-content-height-nonhome-mobile)
		}
	}

	/* 非主页 b2nh banner */
	@media (min-width: 769px) {
		.enable-banner2.enable-b2nh #banner2-container {
			height: var(--banner2-height-nonhome-desktop);
		}

		.enable-banner2.enable-b2nh .banner2-text {
			opacity: 0;
			transition: opacity 0.3s ease;
			will-change: opacity;
		}

		.enable-banner2.enable-b2nh.is-home .banner2-text {
			opacity: 1;
		}
	}
	@media (max-width: 768px) {
		.enable-banner2.enable-b2nm #banner2-container {
			height: var(--banner2-height-nonhome-mobile);
		}

		.enable-banner2.enable-b2nm .banner2-text {
			opacity: 0;
			transition: opacity 0.3s ease;
			will-change: opacity;
		}

		.enable-banner2.enable-b2nm.is-home .banner2-text {
			opacity: 1;
		}
	}
	
	/* 主页 */

	body {
		padding-bottom: var(--main-content-translate-y);
	}

	.enable-banner2.is-home #banner2-container {
		opacity: 1;
	}
	
	@media (min-width: 769px) {
		.enable-banner2.enable-b2nh #banner2-container {
			opacity: 1;
			transition: height 0.3s ease;
			will-change: height;
		}
	}
	@media (max-width: 768px) {
		.enable-banner2.enable-b2nm #banner2-container {
			opacity: 1;
			transition: height 0.3s ease;
			will-change: height;
		}
	}

	/* 其他组件的fix */

	.enable-banner2 #top-row {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.enable-banner2.is-home #top-row {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		width: 100%;
	}

    .enable-banner2 #sidebar-sticky {
        /* 4px是额外gap，
        banner2-height是main-content为banner的主动translate */
        top: calc(4px - var(--main-content-translate-y));
        /* top: 0 !important; */
    }

    .enable-banner2.is-home #sidebar-sticky {
        /* 修正main content的translate后，额外保留1rem视觉空间 */
        top: calc(1rem - var(--main-content-translate-y));
    }
}
@layer components {
	:root.is-home details#toc-wrapper {
		opacity: 0;
		pointer-events: none;
	}
}
</style>

<script>
// import 'overlayscrollbars/overlayscrollbars.css';
// import {
// 	// OverlayScrollbars,
// 	// ScrollbarsHidingPlugin,
// 	// SizeObserverPlugin,
// 	// ClickScrollPlugin
// } from 'overlayscrollbars';
import {getHue, getStoredTheme, setHue, setTheme} from "../utils/setting-utils";
import {pathsEqual, url} from "../utils/url-utils";
import {
	BANNER_HEIGHT,
	BANNER_HEIGHT_HOME,
	BANNER_HEIGHT_EXTEND,
	MAIN_PANEL_OVERLAPS_BANNER_HEIGHT
} from "../constants/constants";
import { siteConfig } from '../config';

/* Preload fonts */
// (async function() {
// 	try {
// 		await Promise.all([
// 			document.fonts.load("400 1em Roboto"),
// 			document.fonts.load("700 1em Roboto"),
// 		]);
// 		document.body.classList.remove("hidden");
// 	} catch (error) {
// 		console.log("Failed to load fonts:", error);
// 	}
// })();

/* TODO This is a temporary solution for style flicker issue when the transition is activated */
/* issue link: https://github.com/withastro/astro/issues/8711, the solution get from here too */
/* update: fixed in Astro 3.2.4 */
/*
function disableAnimation() {
	const css = document.createElement('style')
	css.appendChild(
		document.createTextNode(
			`*{
              -webkit-transition:none!important;
              -moz-transition:none!important;
              -o-transition:none!important;
              -ms-transition:none!important;
              transition:none!important
              }`
		)
	)
	document.head.appendChild(css)

	return () => {
		// Force restyle
		;(() => window.getComputedStyle(document.body))()

		// Wait for next tick before removing
		setTimeout(() => {
			document.head.removeChild(css)
		}, 1)
	}
}
*/

const bannerEnabled = !!document.getElementById('banner-wrapper')
const banner2Enabled = !!document.getElementById('banner2-container')

function setClickOutsideToClose(panel: string, ignores: string[]) {
	document.addEventListener("click", event => {
		let panelDom = document.getElementById(panel);
		let tDom = event.target;
		if (!(tDom instanceof Node)) return;		// Ensure the event target is an HTML Node
		for (let ig of ignores) {
			let ie = document.getElementById(ig)
			if (ie == tDom || (ie?.contains(tDom))) {
				return;
			}
		}
		panelDom!.classList.add("float-panel-closed");
	});
}
setClickOutsideToClose("display-setting", ["display-setting", "display-settings-switch"])
setClickOutsideToClose("nav-menu-panel", ["nav-menu-panel", "nav-menu-switch"])
setClickOutsideToClose("search-panel", ["search-panel", "search-bar", "search-switch"])


function loadTheme() {
	const theme = getStoredTheme()
	setTheme(theme)
}

function loadHue() {
	setHue(getHue())
}

function initCustomScrollbar() {
	/* OverlayScrollbars 就是导致重新加载的元凶。和active indicator无关。殺了。
	*/
	// const bodyElement = document.querySelector('body');
	// if (!bodyElement) return;
	// OverlayScrollbars(
	// 	// docs say that a initialization to the body element would affect native functionality like window.scrollTo
	// 	// but just leave it here for now
	// 	{
	// 		target: bodyElement,
	// 		cancel: {
	// 			nativeScrollbarsOverlaid: true,    // don't initialize the overlay scrollbar if there is a native one
	// 		}
	// 	}, {
	// 	scrollbars: {
	// 		theme: 'scrollbar-base scrollbar-auto py-1',
	// 		autoHide: 'move',
	// 		autoHideDelay: 500,
	// 		autoHideSuspend: false,
	// 	},
	// });

	/* 性能问题暂时不解析katex的滚动条。现在在markdown.css中独立设置.katex-display的overflow
	const katexElements = document.querySelectorAll('.katex-display') as NodeListOf<HTMLElement>;

	const katexObserverOptions = {
		root: null,
		rootMargin: '100px',
		threshold: 0.1
	};

	const processKatexElement = (element: HTMLElement) => {
		if (!element.parentNode) return;
		if (element.hasAttribute('data-scrollbar-initialized')) return;

		const container = document.createElement('div');
		container.className = 'katex-display-container';
		container.setAttribute('aria-label', 'scrollable container for formulas');

		element.parentNode.insertBefore(container, element);
		container.appendChild(element);

		OverlayScrollbars(container, {
			scrollbars: {
				theme: 'scrollbar-base scrollbar-auto',
				autoHide: 'leave',
				autoHideDelay: 500,
				autoHideSuspend: false
			}
		});

		element.setAttribute('data-scrollbar-initialized', 'true');
	};

	const katexObserver = new IntersectionObserver((entries, observer) => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
			processKatexElement(entry.target as HTMLElement);
			observer.unobserve(entry.target);
			}
		});
	}, katexObserverOptions);

	katexElements.forEach(element => {
		katexObserver.observe(element);
	});
	*/
}

function showBanner() {
	if (!siteConfig.banner.enable) return;

	const banner = document.getElementById('banner');
	if (!banner) {
		console.error('Banner element not found');
		return;
	}

	banner.classList.remove('opacity-0', 'scale-105');
}

function showBanner2() { // 这里开始插入图片src
	let srcType: string;
	let randomImg: { path: string; credit: { url: string; text: string; }; };
	if (window.innerWidth < 768) {
		if (document.querySelector('html.dark')) srcType = "dm"
		else srcType = "lm"
	} else if (document.querySelector('html.dark')) srcType = "dd"
	else srcType = "ld"
	srcType = `banner2${srcType}imgsrc`
	try {
		const metaTag: HTMLMetaElement | null = document.querySelector('meta[name="banner2ImgSrc"]');
		if (metaTag?.dataset[srcType]) {
			const imgArray = JSON.parse(metaTag.dataset[srcType] || "[]");
			randomImg = imgArray[Math.floor(Math.random() * imgArray.length)];
		} else {
			console.error("metaTag: ", metaTag);
			throw new Error("banner2ImgSrc meta tag is missing or empty");
		}
		// 立即改背景
		(document.querySelector('.banner2-banner') as HTMLElement)?.style.setProperty('--banner2-track-bg', `url(${randomImg.path})`);
		// 立即改credit
		const creditLink = document.querySelector(".banner2-credit-a");
		const creditText = document.querySelector(".banner2-credit-text");
		if (!creditLink || !creditText) return;
		if (randomImg.credit) {
			creditLink.setAttribute("href", randomImg.credit.url);
			creditLink.setAttribute("target", "_blank");
			creditText.textContent = randomImg.credit.text || "图片版权信息";
		} else {
			(creditLink as HTMLElement).style.display = "none";
		}
	} catch (error) {
		console.error("Failed to parse banner2ImgSrc from meta tag:", error);
		throw error;
	}
}

function initCommentComponent() {
  const event = new Event("loadComment");
  document.dispatchEvent(event);
}

function init() {
	// disableAnimation()()		// TODO
	loadTheme();
	loadHue();
	initCustomScrollbar();
	showBanner();
	showBanner2();
	initCommentComponent();
}


/* Load settings when entering the site */
init();

const setup = () => {
	// TODO: temp solution to change the height of the banner
/*
	window.swup.hooks.on('animation:out:start', () => {
		const path = window.location.pathname
		const body = document.querySelector('body')
		if (path[path.length - 1] === '/' && !body?.classList.contains('is-home')) {
			body?.classList.add('is-home')
		} else if (path[path.length - 1] !== '/' && body?.classList.contains('is-home')) {
			body?.classList.remove('is-home')
		}
	})
*/
	window.swup.hooks.on('link:click', () => {
		// Remove the delay for the first time page load
		document.documentElement.style.setProperty('--content-delay', '0ms')

		// prevent elements from overlapping the navbar
		if (!bannerEnabled) {
			return
		}
		let threshold = window.innerHeight * (BANNER_HEIGHT / 100) - 72 - 16
		let navbar = document.getElementById('navbar-wrapper')
		if (!navbar || !document.body.classList.contains('is-home')) {
			return
		}
		if (document.body.scrollTop >= threshold || document.documentElement.scrollTop >= threshold) {
			navbar.classList.add('navbar-hidden')
		}
	})
	window.swup.hooks.on("content:replace", () => {
		initCustomScrollbar();
		initCommentComponent(); // 添加代码调用
	});
	window.swup.hooks.on('visit:start', (visit: {to: {url: string}}) => {
		// change banner height immediately when a link is clicked
		const bodyElement = document.querySelector('body')
		if (pathsEqual(visit.to.url, url('/'))) {
			bodyElement!.classList.add('is-home');
		} else {
			bodyElement!.classList.remove('is-home');
		}

		// increase the page height during page transition to prevent the scrolling animation from jumping
		const heightExtend = document.getElementById('page-height-extend')
		if (heightExtend) {
			heightExtend.classList.remove('hidden')
		}

		// 视目标path隐藏/显示TOC wrapper
		const wrapper = document.getElementById('toc-wrapper');
		if (wrapper) {
			// Hide the TOC while scrolling back to top
			wrapper.classList.add('hidden-by-jump')
			
			// 在非/post/下的或非白名单内的不显示
			// 此逻辑在SidebarTOC.astro中也有，此处用于swup跳转钩子，彼处用于初始化
			const showToc = [...(siteConfig.toc.whiteList || []), '/posts/']?.some(element => visit.to.url.includes(element));
       	 	wrapper?.classList.toggle('hidden-by-path', !showToc);
		}
	});
	window.swup.hooks.on('page:view', () => {
		// hide the temp high element when the transition is done
		const heightExtend = document.getElementById('page-height-extend')
		if (heightExtend) {
			heightExtend.classList.remove('hidden')
		}
	});
	window.swup.hooks.on('visit:end', (_visit: {to: {url: string}}) => {
		setTimeout(() => {
			const heightExtend = document.getElementById('page-height-extend')
			if (heightExtend) {
				heightExtend.classList.add('hidden')
			}

            // Just make the transition looks better
            const toc = document.getElementById('toc-wrapper');
            if (toc) {
                toc.classList.remove('hidden-by-jump')
            }
        }, 200)
	});
	
}
if (window?.swup?.hooks) {
	setup()
} else {
	document.addEventListener('swup:enable', setup)
}

let backToTopBtn = document.getElementById('back-to-top-btn');
let wrapper = document.getElementById('toc-wrapper');
let navbar = document.getElementById('navbar-wrapper')
let bannerHeight = window.innerHeight * (BANNER_HEIGHT / 100)
function scrollFunction() {
	if (bannerEnabled) {
		if (wrapper) {
			if (document.body.scrollTop > bannerHeight || document.documentElement.scrollTop > bannerHeight) {
				wrapper.classList.remove('hidden-by-scroll')
			} else {
				wrapper.classList.add('hidden-by-scroll')
			}
		}
		if (backToTopBtn) {
			if (document.body.scrollTop > bannerHeight || document.documentElement.scrollTop > bannerHeight) {
				backToTopBtn.classList.remove('hide')
			} else {
				backToTopBtn.classList.add('hide')
			}
		}
		if (navbar) {
			const NAVBAR_HEIGHT = 72
			const MAIN_PANEL_EXCESS_HEIGHT = MAIN_PANEL_OVERLAPS_BANNER_HEIGHT * 16			// The height the main panel overlaps the banner

			let bannerHeight = BANNER_HEIGHT
			if (document.body.classList.contains('is-home') && window.innerWidth >= 1024) {
				bannerHeight = BANNER_HEIGHT_HOME
			}
			let threshold = window.innerHeight * (bannerHeight / 100) - NAVBAR_HEIGHT - MAIN_PANEL_EXCESS_HEIGHT - 16
			if (document.body.scrollTop >= threshold || document.documentElement.scrollTop >= threshold) {
				navbar.classList.add('navbar-hidden')
			} else {
				navbar.classList.remove('navbar-hidden')
			}
		}
	}

	if (banner2Enabled) {
		const BANNER2_HEIGHT = parseInt(getComputedStyle(document.body).getPropertyValue('--main-content-translate-y').trim().match(/\d+/)?.[0] || '0');
		let banner2Height = window.innerHeight * (BANNER2_HEIGHT / 100)
		if (wrapper) {
			if (document.body.scrollTop > banner2Height || document.documentElement.scrollTop > banner2Height) {
				wrapper.classList.remove('hidden-by-scroll')
			} else {
				wrapper.classList.add('hidden-by-scroll')
			}
		}
		if (backToTopBtn) {
			if (document.body.scrollTop > banner2Height || document.documentElement.scrollTop > banner2Height) {
				backToTopBtn.classList.remove('hide')
			} else {
				backToTopBtn.classList.add('hide')
			}
		}
		if (navbar) {
			const NAVBAR_HEIGHT = 72
			const MAIN_PANEL_EXCESS_HEIGHT = MAIN_PANEL_OVERLAPS_BANNER_HEIGHT * 16			// The height the main panel overlaps the banner

			let threshold = window.innerHeight * (BANNER2_HEIGHT / 100) - NAVBAR_HEIGHT - MAIN_PANEL_EXCESS_HEIGHT + 160
			if (document.body.scrollTop >= threshold || document.documentElement.scrollTop >= threshold) {
				navbar.classList.add('navbar-hidden')
			} else {
				navbar.classList.remove('navbar-hidden')
			}
		}
	}
}
window.onscroll = scrollFunction
scrollFunction()  // 初始化时调用一次，防止刷新时 TOC 显示

window.onresize = () => {
	// calculate the --banner-height-extend, which needs to be a multiple of 4 to avoid blurry text
	let offset = Math.floor(window.innerHeight * (BANNER_HEIGHT_EXTEND / 100));
	offset = offset - offset % 4;
	document.documentElement.style.setProperty('--banner-height-extend', `${offset}px`);
}

</script>

<script>
import PhotoSwipeLightbox from "photoswipe/lightbox"
import "photoswipe/style.css"

let lightbox: PhotoSwipeLightbox
let pswp = import("photoswipe")

function createPhotoSwipe() {
	lightbox = new PhotoSwipeLightbox({
		gallery: ".custom-md img, #post-cover img",
		pswpModule: () => pswp,
		closeSVG: '<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z"/></svg>',
		zoomSVG: '<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M340-540h-40q-17 0-28.5-11.5T260-580q0-17 11.5-28.5T300-620h40v-40q0-17 11.5-28.5T380-700q17 0 28.5 11.5T420-660v40h40q17 0 28.5 11.5T500-580q0 17-11.5 28.5T460-540h-40v40q0 17-11.5 28.5T380-460q-17 0-28.5-11.5T340-500v-40Zm40 220q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>',
		padding: { top: 20, bottom: 20, left: 20, right: 20 },
		wheelToZoom: true,
		arrowPrev: false,
		arrowNext: false,
		imageClickAction: 'close',
		tapAction: 'close',
		doubleTapAction: 'zoom',
	})

	lightbox.addFilter("domItemData", (itemData, element) => {
		if (element instanceof HTMLImageElement) {
			itemData.src = element.src

			itemData.w = Number(element.naturalWidth || window.innerWidth)
			itemData.h = Number(element.naturalHeight || window.innerHeight)

			itemData.msrc = element.src
		}

		return itemData
	})

	lightbox.init()
}

const setup = () => {
	if (!lightbox) {
		createPhotoSwipe()
	}
	window.swup.hooks.on("page:view", () => {
		createPhotoSwipe()
	})

	window.swup.hooks.on(
		"content:replace",
		() => {
			lightbox?.destroy?.()
		},
		{ before: true },
	)
}

if (window.swup) {
	setup()
} else {
	document.addEventListener("swup:enable", setup)
}
</script>
